:root {
    --cell-size: 150px;
    --mark-size: calc((var(--cell-size)*.9))
}

body {
    background-color: skyblue;
}

/* HEADER */

.title-container {
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: white;
}

/* BOARD */

.board {
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}


.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

/* MARKERS */

.cell.x::before,
.cell.x::after,
.cell.cell.circle::before {
    background-color: white;
}


.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: " ";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}


.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: " ";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: skyblue;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

/* FOOTER */
.footer-container {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
   padding-block: 1rem;
}

/* MODAL */

.modal {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 2rem;
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
    transition: 200ms ease-in-out;
    width: 200px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.restart-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 3rem;
    align-items: center;
}

/* BUTTON */

.button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1em 2em;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1;
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 130px;
}

.button:hover,
.button:focus-visible {
    background-color: rgb(88, 202, 239);
    color: white;
}

/* OVERLAY */

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


